

/* COLORI */
.text-info{
    color: #0072CE!important; 
}
footer a:hover {
    color: #ffffff;
}
.bg-dark{
    background-color: #000000 !important;
}
.bg-gray-dark{
    background-color: #1F1F1F !important;
}
.btn-primary {
    color: #fff;
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}
.btn-secondary {
    color: #fff;
    background-color: #363636;
    border-color: #727272;
}
.play_plus_bg{
    background-color: #BEBCBB;
}
.play_now_bg{
    background-color: #161C3B;
}
footer{
    background-color: #00439C;
} 
.header-bar-sony img{
    width: 100px;
    padding: 10px;
}
.navbar-light .navbar-nav .nav-link{
    color: #1f1f1f;
    font-size: 15px;
}
.navbar_row{
    flex-direction: row;
}

.hero_img{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.it-takes-two_image{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}


.rounded_thumbnail{
    border-radius: 20px;
}
.sony_logo, .sony_interactive_logo{
    width: 150px;   
}
.globe_footer{
    width: 25px;
}

/* CLASSI PERSONALI PER SOVRASCRIVERE B.S. */
.navbar_padding{
    padding: 0px;
}
.my_row{
    --bs-gutter-x:2.5rem;
    --bs-gutter-y:2.5rem
}
.col-12.no_margin{
    width: auto;
}

.thumbnail_active{
    position: relative;
   
}
.thumbnail_active:before{
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 3px solid #1980D3;
    border-radius: 25px;
}






/********** BONUS ***********/
/**** BUTTONS *****/
.btn-light {
    color: #2D64E6;
    background-color: #D9DADC;
    border-color: #D9DADC;
}
/***** btn danger ******/
.btn-danger:hover {
    box-shadow: 0 0 0 0.25rem rgb(200 66 80 / 58%);
}
.btn-danger, .btn-danger:focus, .btn-danger:hover, .btn-danger:active{
    color: #fff;
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}
/****** btn light *******/
.btn-light:hover {
    color: #000;
    background-color: #D9DADC;
    border-color: #D9DADC;
    box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 30%);
    
}
.btn-light, .btn-light:focus, .btn-light:hover, .btn-light:active{
    color: rgb(45 100 230);
    background-color: #D9DADC;
    border-color: #D9DADC;
}
/**** btn info ****/
.btn-info {
    color: #ffff;
    background-color: #2D64E6;
    border-color: #2D64E6;
}
.btn-info:hover{
    color: #ffff;
    background-color: #2D64E6;
    border-color: #2D64E6;
    box-shadow: 0 0 0 0.25rem rgb(45 100 230 / 58%);
}
.my_opacity{
    opacity: .5;
    transition: all .2s linear;
}
.my_opacity:hover{
    opacity: 1;
}
.animation_img{
    position: relative;
    bottom: 0px;
    transition: all .3s ease-in-out;
}
.animation_img:hover{
    bottom: 15px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2D64E6;
}
.nav-link {
    transition:none;
}
.chevron_hover{
    display: none;
}
.nav-item:hover .chevron_hover{
    display: inline-block;
}
.nav-item:hover .chevron_d_none_hover{
    display: none;
} 