*{
    font-family: arial, sans-serif; 
}
/* :root{
    --bs-dark: #000000;
    --bs-gray-dark: #1F1F1F;
} */


/* COLORI */
.text-info{
    color: #0072CE!important; 
}
.btn-light {
    color: #2D64E6;
    background-color: #D9DADC;
    border-color: #D9DADC;
}
.btn-info {
    color: #ffff;
    background-color: #2D64E6;
    border-color: #2D64E6;
}
.btn-info:hover{
    color: #ffff;
    background-color: #2D64E6;
    border-color: #2D64E6;
    box-shadow: 1px 3px 10px rgb(137, 147, 160);
}
.my-btn-primary:hover{
    color: #fff;
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}
.btn-primary:focus {
    color: #fff;
    background-color: #CD3D0F;
    border-color: #CD3D0F;
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.bg-dark{
    background-color: #000000 !important;
}
.bg-gray-dark{
    background-color: #1F1F1F !important;
}
.btn-primary {
    color: #fff;
    background-color: #CD3D0F;
    border-color: #CD3D0F;
}
.btn-secondary {
    color: #fff;
    background-color: #363636;
    border-color: #727272;
}
.play_plus_bg{
    background-color: #BEBCBB;
}
.play_now_bg{
    background-color: #161C3B;
}
footer{
    background-color: #00439C;
}







.container{
    max-width: 95%;
}
h2{  font-size: 2.5rem;}
h3{  font-size: 2.3rem;}
h4{  font-size: 1.3rem;}
h5, small, footer{  font-size: 0.9rem;}

a{
    text-decoration: none;
    color: white;
}



/* SPAZIATURE */
.section_small{
    padding: 40px 0px;
}
.section_medium{
    padding: 60px 0px;
}
.section_large{
    padding: 100px 0px;
}
.section_main_hero{
    padding-top: 320px;
    padding-bottom: 50px;
}
.section_super, .section_text{
    margin-bottom: 0px;
}
.section_title{
    margin-bottom: 30px;
}
.section_subtitle{
    margin-bottom: 10px;
}
footer ul li{
    padding: 8px 0px;
}
footer .col-2{
    padding-left: 90px;
}
.pad_foot{
    padding-right: 100px;
}
/* .section_text{
    margin-bottom: 20px;
} */



.header-bar-sony img{
    width: 110px;
    padding: 10px;
}
.navbar-light .navbar-nav .nav-link{
    color: #1f1f1f;
    font-size: 18px;
}
.navbar_row{
    flex-direction: row;
}

.hero_img{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
}
.it-takes-two_image{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}


.rounded_thumbnail{
    border-radius: 30px;
    /* border: 2px solid lightskyblue; */
}
.sony_logo, .sony_inter_logo{
    width: 150px;   
}
.globe_footer{
    width: 25px;
}


/********** ATTENZIONE CAMBIARE DOPO ***********/ 
.padding_col-4{
    padding-right: 190px;
}
/********** ATTENZIONE CAMBIARE DOPO ***********/ 





/* CLASSI PERSONALI PER SOVRASCRIVERE B.S. */
.navbar_padding{
    padding: 0px;
}
.my_row{
    --bs-gutter-x:2.5rem;
}

.thumbnail_active{
    position: relative;
   
}
.thumbnail_active:before{
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 3px solid #1980D3;
    border-radius: 30px;
}
